/* Encapsular los estilos en una clase contenedora */
.like-button-container body {
    margin:0;
    text-align:center;
    padding-top:120px;
    font-family:'open sans',sans-serif;
    background:#ddd;
    height:100%;
  }
  
  .like-button-container div {
    height:100px;
    margin:0 auto;
    position: relative;
  }
  
  .like-button-container i {
    cursor:pointer;
    padding:10px 12px 8px;
    background:#fff;
    border-radius:50%;
    display:inline-block;
    margin:0 0 15px;
    color:#aaa;
    transition:.2s;
  }
  
  .like-button-container i:hover {
    color:#666;
  }
  
  .like-button-container i:before {
    font-family:fontawesome;
    content:'\f004';
    font-style:normal;
  }
  
  .like-button-container span {
    position: absolute;
    bottom:70px;
    left:0;
    right:0;
    visibility: hidden;
    transition:.6s;
    z-index:-2;
    font-size:2px;
    color:transparent;
    font-weight:400;
  }
  
  .like-button-container i.press {
    animation: size .4s;
    color:#e23b3b;
  }
  
  .like-button-container span.press {
    bottom:120px;
    font-size:14px;
    visibility:visible;
    animation: fade 1s;
  }
  
  @keyframes fade {
    0% {color:transparent;}
    50% {color:#e23b3b;}
    100% {color:transparent;}
  }
  
  @keyframes size {
    0% {padding:10px 12px 8px;}
    50% {padding:14px 16px 12px;  
      margin-top:-4px;}
    100% {padding:10px 12px 8px;}
  }
  