#cursosCarousel .carousel-item {
    max-height: 400px; 
}

#cursosCarousel .card {
    height: 100%; 
}

#cursosCarousel .card-img-top {
    max-height: 200px;
    object-fit: cover;
}

#cursosCarousel .card-body {
    overflow-y: auto;
}

#descripcion-cursos{
    position: relative;
}
#descripcion-cursos::before{
    position: absolute;
    content: "";
    width: 260px;
    height: 240px;
    opacity: .50;
    background-image: url(../images/dots-yellow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform: translate(+20%, +20%);
    -ms-transform: translate(+20%, +20%);
    transform: translate(+20%, +20%);
    z-index: -1;
}
#particles-js{
    position: absolute;
    background: #000000;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;
}